{% load static from static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #212529;
        /* background-image: url("{% static 'b4.jpg' %}"); */
        height: 100vh;
    }
    #login .container {
        box-shadow: 40px 5px 10px rgb(17, 17, 17);
        /* border-radius: 25px; */
        margin-top: 170px;
        max-width: 800;
        height: 420px;
        width: 600;
        background-image: url("{% static 'log2.jpg' %}");
        /* border: 1px solid #9C9C9C; */
        background-color: #bdbdbd;
        
    }
    #login .container #login-row #login-column #login-box {
        /* border-radius: 25px; */
        margin-top: 0px;
        margin-left: 200px;
        max-width: 800px;
        height: 420px;
        /* border: 1px solid #9C9C9C; */
        background-color: #0dcaf0;
    }
    #login .container #login-row #login-column #login-box #login-form {
        padding: 30px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -10px;
    }
</style>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="login" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-dark">Login</h3>
                            <br>
                            <div class="form-group">
                                <label for="username" class="text-white">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class = "from-group">
                                <label for="" class="text-white">Password : </label><br>
                                <input type="password" class = "form-control" name="password">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-dark btn-md" value="Login">
                            </div>
                            <br>
                            <div id="register-link" class="text-right">
                                <a href="/register" class="text-white">Register here</a>
                            </div>
                            <div class="text-right">
                                <a href="/registerAsTeach" class="text-white">Register as Teacher here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if messages %}
        <center>
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <b>{{message}}</b>
                {% endfor %}
            </div>
        </center>
    {% endif %}
</body>